// color list
$white: #fff;

// breakpoint 
$small: 600px;

// bodyここから
body {
    width: 100vw;
    // mixin list
    @mixin adjust {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    @mixin title {
        font-weight: 600;
    }
    @mixin Anchor {
        @include title();
        text-decoration: none;
        color: $white;
        display: block;
        border: 1px solid rgba(255, 255, 255, 0);
        box-sizing: border-box;
        margin: 0 auto;
        height: 50px;
        line-height: 50px;
        border-radius: 5px;
        box-shadow: #000 0 5px 0;
        background: linear-gradient(to right, #06BEB6, #283C86)
    }
    @mixin sideAdjust {
        padding: 0 10%;
    }
    @mixin boxAdjust {
        @include adjust();
        display: block;
        text-align: center;
    }
    @mixin boxPlace {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include sideAdjust();
    }

    // responsive mixin listここから
    @mixin sm {
        @media (max-width: ($small)) {
            @content;
        }
    }
    // responsive mixin listここまで

    // 

    // header　ここから
    header {
        position: absolute;
        z-index: 1;
        width: 100vw;
        height: 80px;
        line-height: 80px;
        .head_adjust {
            @include adjust();
            padding: 0 50px;
            color: $white;
            h1 {
                @include title();
            }
            nav {
                ul {
                    display: flex;
                    li {
                        margin-left: 50px;
                    }
                }
                @include sm() {
                    display: none;
                }
            }

        }
    }
    //  header ここまで

    // main ここから
    main {
        // top　ここから
        #top {
            width: 100vw;
            height: 80vh;
            background-image: url("../image/Web/2469c14eccf9a623eb7a2674b9f9c333_m (2)@3x.png");
            background-size: cover;
            position: relative;
            .heading {
                width: 20%;
                height: 33%;
                text-align: center;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                margin: auto;
                h2 {
                    color: $white;
                    margin-bottom: 100px;
                    font-size: 30px;
                    @include title();
                }
                a {
                    @include Anchor();
                    width: 80%;
                }
                @include sm() {
                    width: 50%;
                }
            }
        }
        // top ここまで

        // About_us　ここから
        #About_us {
            background-color: #F8F8F8;
            padding-bottom: 80px;
            .adjust {
                @include boxAdjust();
                h2 {
                    @include title();
                    padding: 80px;
                }
                .box {
                    @include boxPlace();
                    .feature {
                        width: 30%;
                        background-color: #fff;
                        margin-bottom: 30px;
                        padding: 30px 0;
                        h3 {
                            margin-bottom: 20px;
                            @include title();
                        }
                        .icon {
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            border: 1px solid black;
                            margin: 0 auto;
                            margin-bottom: 20px;
                        }
                        @include sm() {
                            width: 45%;
                        }
                    }
                }
            }
        }
        // About_us　ここまで

        // Newsここから
        #News {
            background-image: url(../image/Web/0748571d9c0be483e5ac9cb24203a241_m@3x.png);
            background-size: cover;
            padding-bottom: 80px;
            .adjust {
                @include boxAdjust();
                h2 {
                    @include title();
                    padding: 80px;
                    color: $white;
                }
                .box {
                    @include boxPlace();
                    .card {
                        width: 30%;
                        img {
                            width: 100%;
                        }
                        .textbox {
                            padding: 20px;
                            text-align: left;
                            background-color: $white;
                            .date {
                                font-size: 10px;
                                font-weight: 600;
                                padding-bottom: 10px;
                            }
                            h3 {
                                @include title();
                                padding-bottom: 20px;
                            }
                        }
                        @include sm() {
                            width: 100%;
                            .textbox {
                                margin-bottom: 40px;
                            }
                        }
                    }
                }
            }
        }
        // Newsここまで
        // ChangeLifeここから
        #ChangeLife {
            .adjust {
                @include boxAdjust();
                padding: 200px 0;
                width: 30%;
                h3 {
                    @include title();
                    padding-bottom: 50px;
                }
                a {
                    @include Anchor();
                }
                @include sm() {
                    width: 50%;
                }
            }
        }
        // ChangeLifeここまで
    }
    // ここまで

    // footer ここから
    footer {
        .foot_adjust {
            @include boxAdjust();
            height: 60px;
            line-height: 60px;
            background-color: #000;
            color: $white;
        }
    }
    // footer ここまで
}